<mat-toolbar color="primary" class="header-toolbar">
  <div class="logo-container">
    <img src="assets/logo.svg" alt="App Logo" class="app-logo" />
  </div>
  
  <div class="right-section">
    <button mat-icon-button class="avatar-button" [matMenuTriggerFor]="menu">
      <img class="avatar" [src]="userAvatar" alt="User" />
    </button>
    <mat-menu #menu="matMenu">
      <div class="user-menu-header">
        <span class="username">{{ userName }}</span>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item routerLink="/login">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
